/* Styles for my form using ReCaptcha */

form {
  max-width: 400px;
  margin: 20px auto;
}

fieldset {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 3px;
  font-family: "Bahnschrift Light", "Bahnschrift", sans-serif;
}

input {
  height: 30px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 15px;
  font-family: "Bahnschrift Light", "Bahnschrift", sans-serif;
  padding: 3px;
}

textarea {
  height: 130px;
  resize: none;
  font-family: "Bahnschrift Light", "Bahnschrift", sans-serif;
}

input[type="submit"] {
  width: auto;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-style: italic;
  display: block;
  font-family: "Bahnschrift Light", "Bahnschrift", sans-serif;
}

p {
  font-family: "Bahnschrift Light", "Bahnschrift", sans-serif;
  border: 1px solid var(--ck-accent-dark);
  background: var(--ck-main);
  padding: 5px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
